:root {
  --bg-color: #E6E7E9;
  --theme-color: #fff; }

@font-face {
  font-family: 'Halyard-Display';
  src: url("../fonts/Halyard/fonnts.com-Halyard_Display.otf") format("woff2"); }

/* --------------- Menu --------------- */
.navbar {
  position: absolute;
  left: 0;
  top: 30px;
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
  z-index: 9999999; }
  .navbar.nav-scroll {
    padding: 0;
    position: fixed;
    top: -80px;
    padding: 15px 0;
    -webkit-transition: -webkit-transform .8s;
    transition: -webkit-transform .8s;
    -o-transition: transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s;
    -webkit-transform: translateY(80px);
    -ms-transform: translateY(80px);
    transform: translateY(80px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); }
  .navbar .logo {
    padding: 7px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px; }
  .navbar .navbar-nav {
    padding: 2px 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-left: 15px; }
    .navbar .navbar-nav .nav-link {
      padding: 5px 20px;
      border-radius: 30px;
      font-size: 14px;
      color: #fff; }
      .navbar .navbar-nav .nav-link.active {
        background: rgba(255, 255, 255, 0.1); }
  .navbar .topnav .butn {
    padding: 7px 20px;
    background: #fcba43;
    color: #1d1d1d;
    margin-right: 15px; }

/* --------------- header --------------- */
.header-ms {
  padding-top: 200px; }
  .header-ms .caption h1 {
    font-size: 110px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1; }
    .header-ms .caption h1 .arrow {
      width: 70px;
      height: 70px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      background: #fcba43 }
      .header-ms .caption h1 .arrow svg {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
    .header-ms .caption h1 .underline {
      position: relative;
      border-bottom: 2px solid #fcba43; }
  .header-ms .caption p {
    font-size: 48px;
    line-height: 58px;
    color: #BDBDBD; }
  .header-ms .award-box {
    padding: 70px 40px 40px;
    border-radius: 30px;
    background: #fcba43;
    color: #2A2D2F;
    position: relative; }
    .header-ms .award-box .arrow {
      width: 45px;
      height: 45px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #2A2D2F;
      position: absolute;
      top: 15px;
      right: 15px; }
      .header-ms .award-box .arrow svg {
        width: 15px; }
        .socialicon{font-size:30px; padding: 10px;}
    .header-ms .award-box .img {
      text-align: center;
      margin-bottom: 15px;
      -webkit-animation: rotatecircle 20s infinite linear;
      animation: rotatecircle 20s infinite linear; }
    .header-ms .award-box h6 {
      color: #2A2D2F; text-align:center;}
  .header-ms .vid-box {
    border-radius: 10px;
    overflow: hidden !important; }
    .header-ms .vid-box video {
      width: 100%; }
    .header-ms .vid-box video::-webkit-media-controls {
      display: none; }
  .header-ms .feat {
    position: relative; }
    .header-ms .feat:after {
      content: "";
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      position: absolute;
      left: 50%;
      top: -50px;
      bottom: -70px; }

@-webkit-keyframes rotatecircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotatecircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* --------------- Awards --------------- */
.hero-ms .main-text {
  position: relative; }
  .hero-ms .main-text .img1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -20px; }
  .hero-ms .main-text .img2 {
    width: 180px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    right: -70px; }
  .hero-ms .main-text h2 {
    position: relative;
    z-index: 2; }

.hero-ms .qoutes .text .img {
  border-radius: 50%; }

.hero-ms .qoutes .text .info h6 {
  font-size: 20px;
  text-transform: uppercase; }

.hero-ms .qoutes .text .info span {
  font-size: 14px;
  font-weight: 300;
  color: #7B7878; }

.hero-ms .exp {
  position: relative;
  padding: 100px 0; }
  .hero-ms .exp h2 {
    font-size: 280px; }
  .hero-ms .exp:after {
    content: '';
    width: 50vw;
    height: 50vw;
    background: var(--bg-color);
    border-radius: 50%;
    position: absolute;
    right: -50%;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1; }
  .hero-ms .exp .icon {
    position: absolute;
    top: 70%;
    left: -50px; }

/* --------------- Services --------------- */
.intro-iner .img-box .butn-vid {
      background: var(--theme-color);
      border-radius: 30px 0 0 0;
      padding: 40px 0 0 30px;
      position: absolute;
      bottom: -1px;
      right: -1px; }
      .intro-iner .img-box .butn-vid .vid {
        width: 55px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        border-radius: 50%;
        background: #fff;
        color: #212121;
        position: relative; }
        .intro-iner .img-box .butn-vid .vid:after {
          content: '';
          position: absolute;
          top: -8px;
          left: -8px;
          right: -8px;
          bottom: -8px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 50%; }
      .intro-iner .img-box .butn-vid .cont {
        padding-left: 20px; }
      .intro-iner .img-box .butn-vid .shap-right-top {
        position: absolute;
        right: 0;
        top: -2.05rem;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
        .intro-iner .img-box .butn-vid .shap-right-top svg {
          width: 2.1rem;
          height: 2.1rem; }
      .intro-iner .img-box .butn-vid .shap-left-bottom {
        position: absolute;
        left: -2.05rem;
        bottom: -1px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
        .intro-iner .img-box .butn-vid .shap-left-bottom svg {
          width: 2.1rem;
          height: 2.1rem; }
          .play-button{width:50px; 
            height:50px; 
            background-color: #fcba43;
             border-radius: 50%;
             padding:10px 20px;
          }
        
  
.serv-ms .item {
  color: #fff;
  padding: 40px;
  height: 30vh;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  .serv-ms .item h6 {
    font-size: 20px;
    text-transform: uppercase; }
  .serv-ms .item p {
    font-size: 14px; }
  .serv-ms .item .arrow,
  .serv-ms .item .text {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
  .serv-ms .item .text {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px); }
  .serv-ms .item:hover .arrow,
  .serv-ms .item:hover .text {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .serv-ms .item:hover {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px); }

.services-ms {
  background: #3b83c3;
  position: relative;
  overflow: hidden; }
  .services-ms:after {
    content: '';
    position: absolute;
    top: -100px;
    right: -100px;
    width: 45vw;
    height: 45vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    pointer-events: none; }
  .services-ms .shape {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .5; }
  .services-ms .item {
    background: #141414;
    border-radius: 10px;
    padding: 50px 30px;
    margin-top: 30px; }
    .services-ms .item .arrow {
      width: 45px;
      height: 45px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #fff; }
      .services-ms .item .arrow svg {
        width: 15px; }

/* --------------- Works --------------- */
.work-card-ms .sec-head-xlg h2 {
  font-size: 28vw;
  line-height: .8; }
  .work-card-ms .sec-head-xlg h6 {
    font-size: 3vw;
    line-height: .8; }

.work-card-ms .card-item {
  margin-top: 50px; }
  .work-card-ms .card-item .img {
    position: relative;
    height: 450px;
    border-radius: 15px;
    overflow: hidden; }
    .work-card-ms .card-item .img .cont {
      position: absolute;
      bottom: 15px;
     /* left: 15px;*/
      right: 15px;
      background: #ffffffeb;
      border-radius: 15px;
      padding: 15px 30px; }
      .work-card-ms .card-item .img .cont .tag {
        font-size: 18px;
        text-transform: uppercase;
        padding: 12px 25px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: #fcba43;
        border-radius: 40px;
        margin-bottom: 10px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
        .work-card-ms .card-item .img .cont .tag:hover {
          background: #fcba43;
          color: #fff; }

/* --------------- Clients --------------- */
.clients-sa .item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center; }
  .clients-sa .item .img {
    width: 100px; }
  .clients-sa .item .cont .icon {
    width: 40px;
    margin: 0 auto 10px; }
  .clients-sa .item .cont span {
    font-size: 14px;
    line-height: 20px; }

/* --------------- Testimonials --------------- */
.testim-sm {
  position: relative;
  overflow: hidden; }
  .testim-sm .swiper-slide {
    height: auto; }
  .testim-sm .item {
    background: var(--bg-color);
    padding: 40px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%; }
    .testim-sm .item .rate h5 {
      font-size: 16px; }
    .testim-sm .item .rate .stars {
      font-size: 13px;
      color: #EF2B10;
      margin-left: 10px; }
    .testim-sm .item .info .img-author {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden; }
    .testim-sm .item .info .info-text {
      padding-left: 15px; }
      .testim-sm .item .info .info-text p {
        font-size: 14px;
        opacity: .7; }
  .testim-sm .swiper-slide-active .item {
    background: #0D0D0D;
    color: #fff; }
  .testim-sm .brands h6 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px; }
  .testim-sm .brands .row {
    padding: 30px 15px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0; }
    .testim-sm .brands .row .img {
      width: 390px;
      margin: auto; }

/* --------------- Blogs --------------- */
.blog-mp {
  background-color: var(--bg-color); }
  .blog-mp .bord {
    position: relative; }
    .blog-mp .bord:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.1); }
  .blog-mp .item .info .author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .blog-mp .item .info .author-info,
  .blog-mp .item .info .date {
    font-size: 13px;
    text-transform: uppercase; }
    .blog-mp .item .info .author-info span,
    .blog-mp .item .info .date span {
      display: block;
      line-height: 22px; }
  .blog-mp .item .info .author-info .sub-color {
    text-transform: capitalize !important; }
  .blog-mp .item .img {
    border-radius: 15px;
    height: 255px;
    overflow: hidden; }

/* --------------- Contact --------------- */
.contact-sa .box {
  padding: 120px 60px;
  background-image: url(../imgs/gr-back.html);
  background-size: cover;
  background-position: center center;
  border-radius: 30px;
  overflow: hidden; }

.contact-sa .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.contact-sa .contact-form label {
  font-size: 14px;
  margin-bottom: 5px; }
  .contact-sa .contact-form label .star {
    color: red;
    padding-left: 5px; }

.contact-sa .contact-form input,
.contact-sa .contact-form textarea {
  color: #fff;
  background: transparent;
  width: 100%;
  padding: 0 0 10px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 18px; }

.contact-sa .contact-form button {
  background: transparent;
  color: #fff; }

/* --------------- footer --------------- */
.footer-sa {
  background: #03437c;
  color: #fff; }
  .footer-sa .logo {
    width: 160px; }
  .footer-sa .contact-info .item {
    margin-bottom: 50px; }
    .footer-sa .contact-info .item span {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 10px; }
  .footer-sa .contact-info .social-icon a {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    font-size: 14px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
    .footer-sa .contact-info .social-icon a:hover {
      border-color: #fff; }
  .footer-sa .sub-footer .copy p {
    font-size: 14px; }
    .footer-sa .sub-footer .copy p a {
      color: #fff; }
  .footer-sa .sub-footer .links {
    width: 100%; }
    .footer-sa .sub-footer .links a {
      font-size: 16px; }
    .footer-sa .sub-footer .links .active {
      color: #fff; }

body {
  font-family: "Inter", sans-serif;
  font-family: "Halyard-Display", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #0D0D0D;
  background-color: var(--theme-color); }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
  margin: 0; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 54px; }

h3 {
  font-size: 44px; }

h4 {
  font-size: 36px; }

h5 {
  font-size: 32px; }

h6 {
  font-size: 24px; }

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0; }

.main-color {
  color: #3b83c3 !important; }

.sub-head {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 27px 35px;
  background: #fcba43;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px; }

.sub-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.italic {
  font-style: italic;
  display: inline; }

.loader-wrap svg {
  fill: #1d1d1d; }

.butn.butn-bord {
  border: 1px solid rgba(255, 255, 255, 0.3); }
  .butn.butn-bord:hover {
    background: #fff;
    color: #212121; }

.icon.invert img {
  -webkit-filter: invert(1);
  filter: invert(1); }

.butn .icon {
  width: 18px; }

.butn:hover .icon.invert img {
  -webkit-filter: invert(0);
  filter: invert(0); }

/* ====================== [ Start Responsive ] ====================== */
@media screen and (max-width: 992px) {
  .header-ms {
    padding-bottom: 120px; }
  .header-ms .award-box,
  .header-ms .vid-box {
    display: none; }
  .hero-ms .exp:after {
    width: 80vw;
    height: 80vw;
    right: -20%; }
  .hero-ms .exp .icon {
    left: 30%; }
  .serv-ms .item {
    height: auto; }
  .testim-sm .brands .row .img {
    margin: 15px auto; } }

@media screen and (max-width: 768px) {
  .header-ms .caption h1 {
    font-size: 50px; }
    .header-ms .caption h1 .arrow {
      width: 40px;
      height: 40px;
      line-height: 30px; }
      .header-ms .caption h1 .arrow svg {
        width: 20px; }
  .hero-ms .main-text h2 {
    font-size: 36px; }
  .hero-ms .exp .text-right {
    text-align: center; }
  .hero-ms .exp .icon {
    display: none; }
  .hero-ms .exp:after {
    display: none; }
  .hero-ms .img1,
  .hero-ms .img2 {
    display: none; }
  .hero-ms .qoutes {
    display: block !important; }
    .hero-ms .qoutes .text {
      margin: 15px 0 0 0 !important; } 
    .work-card-ms .card-item .img{height: auto;}}
